body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.section-one {
    background: #1F2937;
    width: 101%;
    margin-top: -8px;
    align-items: center;
    gap: 100px;
    }

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 16px;
    font-size: 18px;
    font-weight: 900;
    color: #F9FAF8;
    font-weight: bold;    
}
  
a {
    text-decoration: none;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 500;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

.section-hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  padding-bottom: 100px;
  width:470px;
}

.hero-title {
  font-size:48px;
  font-weight: 900;
  color: #F9FAF8;
}

.hero-title-text {
  font-size: 18px;
  color: #E5E7EB;
}

.sign-up {
  background-color:#3882F6;
  border-color:#3882F6;
  border-radius: 10px;
  color:#F9FAF8;
  padding:0;
  width:100px;
  height:30px;
}

.placeholder{
  text-align: center;
  justify-content: center;
  align-items: center;
  color:#F9FAF8;
  width: 500px;
  height:250px;
  background-color: gray;
}

.section-two {
  flex-direction: column;
}

.infomation-header-text {
  text-align: center;
  font-size:36px;
  font-weight: 900;
  color:#1F2937
}

.images-container {
  margin-left: auto;
  margin-right: auto;
  gap:20px;
  display: flex;
}

.info {
  display: flex;
  flex-direction: column;
}
.info img{
  height:200px;
  border-radius: 10px;
  border:solid blue 2px;
  width:200px; 
  margin-top: 14px; 
}

.text {
  width: 200px;
  text-align: justify;
}

